Esto es lo minimo necesario
**--Estare actualizando--**

Tabajaremos en python 3.11.4

instalar (CMD ADMINISTRADOR)

pip install fastapi 
pip install uvicorn
pip install jinja2
pip install python-multipart
pip install alembic
pip install python-dotenv
pip install sqlalchemy databases asyncpg psycopg2


Ejecutan con: python -m uvicorn src.APP.main:app --reload

Y cierran en la terminal con: Ctrl + C