<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar mascota</title>
    <link rel="stylesheet" href="../static/CSS/addPet.css">
</head>
<header class="container">
    <nav> 
        <!-- Logo -->
        <a href="/" class="nav-logo">
            <img src="../static/images/milen-2.png" alt="Logo Milenzo">
        </a>
        <!-- Botones principales -->
        <div class="nav-buttons">
            <a href="/addPet" class="nav-button">Mis Mascotas</a>
            <a href="/serv" class="nav-button">Servicios</a>
            <a href="/about" class="nav-button">Nosotros</a>
        </div>
        <!-- Botón Login -->
        <a href="/login" class="login-button">Login</a>
    </nav>
</header> 
<body>
    <div class="button-container">
        <button id="btnOwner_details" class="active" onclick="cambiarFormulario('formOwner')">Datos del propietario</button>
        <button id="btnPatient_details" onclick="cambiarFormulario('formPatient')">Datos del paciente</button>
    </div>

    <div class="form-container">
        <form id="formOwner" class="active">
            <div class="form-header">
                <img src="../static/images/AgregarMascota.png" alt="Imagen AgregarMascota">
                <h3>Datos del Propietario</h3>
            </div>
            <div class="form-group-container">
                <div class="form-group">
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre:" required>
                </div>
                <div class="form-group">
                    <input type="text" id="apellidos" name="apellidos" placeholder="Apellidos:" required>
                </div>
                <div class="form-group">
                    <input type="text" id="celular" name="celular" placeholder="Celular:" required>
                </div>
            </div>
            <div class="form-group-container">
                <div class="form-group">
                    <input type="text" id="documento" name="documento" placeholder="Documento:" required>
                </div>
                <div class="form-group">
                    <input type="text" id="direccion" name="direccion" placeholder="Dirección:" required>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="submit-btn">Enviar</button> <!--Por organizar, no funciona el link simbolico, revisar el js, los href no se tramitan-->
            </div>
        </form>

        <form id="formPatient">
            <div class="form-header">
                <img src="../static/images/AgregarMascota.png" alt="Imagen AgregarMascota">
                <h3>Datos del Paciente</h3>
            </div>
            <div class="form-group-container">
                <div class="form-group">
                    <input type="text" id="nombreMascota" name="nombreMascota" placeholder="Nombre:" required>
                </div>
                <div class="form-group">
                    <input type="text" id="sexo" name="sexo" placeholder="Sexo:" required>
                </div>
                <div class="form-group">
                    <input type="text" id="peso" name="peso" placeholder="Peso:" required>
                </div>
                <div class="form-group">
                    <input type="text" id="especie" name="especie" placeholder="Especie:" required>
                </div>
            </div>
            <div class="form-group-container">
                <div class="form-group">
                    <input type="text" id="edad" name="edad" placeholder="Edad:" required>
                </div>
                <div class="form-group">
                    <input type="text" id="esterilizado" name="esterilizado" placeholder="Esterilizado:" required>
                </div>
                <div class="form-group">
                    <input type="text" id="raza" name="raza" placeholder="Raza:" required>
                </div>
                <div class="form-group">
                    <input type="text" id="color" name="color" placeholder="Color:" required>
                </div>
            </div>
            <div class="form-group">
                <textarea id="descripcion" name="descripcion" placeholder="Descripción:"></textarea>
            </div>

            <h3>Datos Médicos</h3>
            <div class="form-group-container">
                <div class="form-group">
                    <input type="text" id="desparasitacion" name="desparasitacion:" placeholder="Última Desparasitación" required>
                </div>
                <div class="form-group">
                    <input type="text" id="vacunas" name="vacunas" placeholder="Vacunas:" required>
                </div>
                <div class="form-group">
                    <input type="text" id="alimentacion" name="alimentacion" placeholder="Alimentación:" required>
                </div>
                <div class="form-group">
                    <input type="text" id="tratamientos" name="tratamientos" placeholder="Tratamientos:" required>
                </div>
            </div>
            <div class="form-group">
                <textarea id="tratamientosAnteriores" name="tratamientosAnteriores" placeholder="Tratamientos Anteriores:"></textarea>
            </div>

            <div class="form-actions">
                <button type="submit" class="submit-btn">Enviar</button> <!--Organizar el href, posiblemente por el js, tampoco tramita este (no va ninguna parte)-->
            </div>
        </form>
    </div>

    

    <footer class="footer">
        <p>&copy; 2025 Milenzo. Todos los derechos reservados.</p>
        <div class="footer-links">
            <a href="#">Política de Privacidad</a>
            <a href="#">Términos y Condiciones</a>
            <a href="#">Contacto</a>
        </div>
    </footer>

    <script src="../static/JS/addPet.js"></script>

</body>
</html>