<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Mascotas</title>
    <link rel="stylesheet" href="../static/CSS/myPets.css">
</head>
<body>
    <header class="container">
        <nav> 
            <!-- Logo -->
            <a href="/" class="nav-logo">
                <img src="../static/images/milen-2.png" alt="Logo Milenzo">
            </a>
            <!-- Botones principales -->
            <div class="nav-buttons">
                <a href="/myPets" class="nav-button">Mis Mascotas</a>
                <a href="/serv" class="nav-button">Servicios</a>
                <a href="/about" class="nav-button">Nosotros</a>
            </div>
            <!-- Botón Login -->
            <a href="/login" class="login-button">Login</a>
        </nav>
    </header> 
    <div class="form-card">
        <div class="form-header">
            <img src="../static/images/myPets.png" alt="Imagen myPets">
            <h3>Mis mascotas</h3>
            <div class="form-actions">
                <a href="/addPet" class="action-button">Registrar nueva mascota</a>
                <button type="button" class="action-button" id="viewPetsBtn">Ver Mis Mascotas</button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="petsModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Mis Mascotas</h3>
            <ul id="petsList">
                <!-- Aquí se llenarán las mascotas dinámicamente -->
            </ul>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; 2025 Milenzo. Todos los derechos reservados.</p>
        <div class="footer-links">
            <a href="#">Política de Privacidad</a>
            <a href="#">Términos y Condiciones</a>
            <a href="#">Contacto</a>
        </div>
    </footer>

    <script src="../static/JS/myPets.js"></script>
</body>
</html>