<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mis mascotas</title>
    <link rel="stylesheet" href="../static/CSS/myPets.css">
</head>
<body>
    <header class="container">
        <nav> 
            <!-- Logo -->
            <a href="/" class="nav-logo">
                <img src="../static/images/milen-2.png" alt="Logo Milenzo">
            </a>
            <!-- Botones principales -->
            <div class="nav-buttons">
                <a href="/myPets" class="nav-button">Mis Mascotas</a>
                <a href="/serv" class="nav-button">Servicios</a>
                <a href="/about" class="nav-button">Nosotros</a>
            </div>
            <!-- Botón Login -->
            <a href="/login" class="login-button">Login</a>
        </nav>
    </header> 
    <div class="form-card">
        <div class="form-header">
            <img src="../static/images/myPets.png" alt="Imagen myPets">
            <h3>Mis mascotas</h3>
            <div class="form-actions">
                <a href="/addPet" class="action-button">Registrar nueva mascota</a> <!-- Me direcciona a la vista addPet -->
                <a href="/history" class="action-button">Ver historial</a><!-- Me direcciona a la vista Reg -->
            </div>
            

        </div>
        
    </div>
    <footer class="footer">
        <p>&copy; 2025 Milenzo. Todos los derechos reservados.</p>
        <div class="footer-links">
            <a href="#">Política de Privacidad</a>
            <a href="#">Términos y Condiciones</a>
            <a href="#">Contacto</a>
        </div>
    </footer>
</body>
</html>
