<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/Reg.css">
<body>
    <div class="regis-logo">
     <img src="../static/images/huella.png" alt="logo">
    </div>
    <div id="Registro">
        <form action="/registro" method="post">
            
         <button type="submit">Mascota1<option>
         <button type="submit">Mascota2<option>
         <button type="submit">Mascota3<option>
         <button id="Aceptar" type="submit">Aceptar</button>         
        </form>
    </div>
   </body>
</html>