<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/serv.css">
    <title>Milenzo</title>
</head>
<body>  

    <div class="cascada">
        
        <h2>Elige uno de nuestros Servicios:</h2>
    
        <button class="elemento">
            <img src="../static/images/Baño1.png" alt="Baño" class="elemento-icon">
            <span>Baño</span>
        </button>
    
        <button class="elemento">
            <img src="../static/images/Peluqueria1.png" alt="Peluquería" class="elemento-icon">
            <span>Peluquería</span>
        </button> 
    
        <button class="elemento">
            <img src="../static/images/Consulta1.png" alt="Consulta" class="elemento-icon">
            <span>Consulta</span>
        </button>
    
        <button class="elemento">
            <img src="../static/images/Control1.png" alt="Control" class="elemento-icon">
            <span>Control</span>
        </button>
    
        <button class="elemento">
            <img src="../static/images/Historial1.png" alt="Historial" class="elemento-icon">
            <span>Historial</span>
        </button> 
    
        <button class="elemento">
            <img src="../static/images/Veterinarios1.png" alt="Veterinarios" class="elemento-icon">
            <span>Veterinarios</span>
        </button>

        <button class="elemento">
            <img src="../static/images/transporte1.png" alt="Transporte" class="elemento-icon">
            <span>Transporte</span>
        </button> 
    </div>
    
      </div>
    <header class="container">
        <nav> 
            <!-- Logo -->
            <a href="/" class="nav-logo">
                <img src="../static/images/milen-2.png" alt="Logo Milenzo">
            </a>
            <!-- Botones principales -->
            <div class="nav-buttons">
                <a href="/addPet" class="nav-button">Mis Mascotas</a>
                <a href="/serv" class="nav-button">Servicios</a>
                <a href="/about" class="nav-button">Nosotros</a>
            </div>
            <!-- Botón Login -->
            <a href="/login" class="login-button">Login</a>
        </nav>
    </header> 

    <footer class="footer">
        <p>&copy; 2025 Milenzo. Todos los derechos reservados.</p>
        <div class="footer-links">
            <a href="#">Política de Privacidad</a>
            <a href="#">Términos y Condiciones</a>
            <a href="#">Contacto</a>
        </div>
    </footer>
</body>
</html>