<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios Veterinarios</title>
    <link rel="stylesheet" href="../static/CSS/serv_vet.css"> <!-- Enlace a un archivo CSS para estilos -->
</head>
<body>
    <header class="header">
        <h1>Servicios Veterinarios</h1>
    </header>
    <main class="main-container">
        <div class="button-container">
            <!-- Botón para crear perfil -->
            <button class="action-button" onclick="location.href='/perf_vet'">Crear Perfil</button>
            
            <!-- Botón para modificar historial pet -->
            <button class="action-button" onclick="location.href='/modifyHistory'">Modificar Historial Pet</button>
        </div>
    </main>
    <footer class="footer">
        <p>&copy; 2025 Milenzo. Todos los derechos reservados.</p>
    </footer>
</body>
</html>