<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <title>Milenzo</title>
</head>
<body>
    {% if register_error %}
    <div class="alert error">
        {{ register_error }}
    </div>
    {% endif %}

    {% if request.query_params.get('register_success') %}
    <div class="alert success">
        ¡Registro exitoso! Por favor inicia sesión.
    </div>
    {% endif %}
    <div class="logo-container">
        <img src="/static/images/milen-2.png" alt="logo-container">
    </div>
    <div class="back-button-container">
        <a href="/" class="back-button">Home</a>
    </div>
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form action="/register" method="post">
                <h1>Crea tu Cuenta</h1>
                <input type="text" name="name" placeholder="Name" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required minlength="8">
                <input type="tel" name="telefono" placeholder="Telephone" required>
                <select name="rol_id" required>
                    <option value="">Selecciona un rol</option>
                    <option value="1">Usuario</option>
                    <option value="2">Veterinario</option>
                    <option value="3">Administrador</option>
                </select>
                <button type="submit">Registrarse</button>
            </form>
        </div>

        <div class="form-container sign-in">
            <form action="/login" method="post">
                <h1>Ingresa</h1>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <a href="#">¿Olvidaste la Contraseña?</a>
                <button type="submit">Ingresa</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Bienvenido</h1>
                    <p>Ingresa tus Datos</p>
                    <button class="hidden" id="login">Ingresa</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Bienvenido</h1>
                    <p>Ingresa tus Datos</p>
                    <button class="hidden" id="register">Ingresa</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>