<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/login.css">
    <title>Milenzo</title>
</head>
<body>
    <div class="logo-container">
        <img src="/static/images/milen-2.png" alt="logo-container">
    </div>
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form>
                <h1>Crea tu Cuenta</h1>
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <button>Ingresa</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form>
                <h1>Ingresa</h1>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <a href="#">Olvidaste la Contrasena?</a>
                <button>Ingresa</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Bienvenido</h1>
                    <p>Ingresa tus Datos</p>
                    <button class="hidden" id="login">Ingresa</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Bienvenido</h1>
                    <p>Ingresa tus Datos</p>
                    <button class="hidden" id="register">Ingresa</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>